body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/* ///////////// HERO SECTION ///////////// */

.hero-section {
    display: grid;
    align-content: center;
    justify-items: end;
    height: 100vh;
    width: 30%;
    box-sizing: border-box;
    text-align: right;
    padding: 0 1.75em 0 3.5em;
}

.hero-img {
    position: absolute;
    z-index: -1;
    background-size: cover;
    width: 70%;
    right: 0;
    top: 0;
}

.headline {
    font-size: 3.5rem;
    color: #0F0404;
    margin-bottom: 0;
}

.subheadline {
    font-size: 2rem;
}

span {
    position: relative;
    /* text-shadow: 1px 1px 2px #C5012F; */
}

span::before {
    content: "";
    position: absolute;
    width: .2em;
    height: 60%;
    background: #CF4044;
    left: 0;
    bottom: 30%;
    z-index: -1;
}

.logo {
    width: 100px;
    background:#d6dcdf;
    padding: .625em;
    border-radius: 10px;
}

/* //////////////// EXPERIENCES SECTION /////////////// */

.experiences-section {
   /* margin: 5em 0; */
   padding: 3em 2.5em;
   background: 
        linear-gradient(
            135deg, 
            #86001F 4%, white 4%, white 8%, #86001F 8%, #86001F 12%, white 12%, white 16%, #86001F 16%,
            #86001F 20%, white 20%, white 80%, #86001F 80%, #86001F 84%, white 84%, white 91%, #86001F 91% 
        );
}

.experiences-section-title {
    text-align: center;
    font-size: 2.5rem;
}

.experiences-section-container {
    /* flexbox this container */
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.experience {
    width: 25%;
    box-sizing: border-box;
    position: relative;
    border: .1em solid #86001F;
    margin: 1em;
    padding-left: 2em;
    padding-top: 2em;
    background: linear-gradient(
        to left bottom, 
        #86001F 5%, white 5%, white 10%, #86001F 10%, #86001F 15%, white 15%);
}

.experience img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 5%;
}

.experience-title {
    font-size: 1.75rem;
}

.experience-desc {
    font-size: 1.5rem;
    width: 90%;
}


.football-section {
    padding: 36px;
    background: #C5CBD0;
    font-size: 10px;
}

.football-section .title {
    margin-top: 0px;
    background: #787B81;
    border-radius: 15px;
    padding: 5px 13px;
    width: fit-content;
    margin: 0 auto;
    color: #0F0404;
    text-shadow: 0px 0px 2px white, 0px 0px 2px black;
    font-size: 2.75em;
}

.football-section .video {
    margin-top: 15px;
    background:#cc4042;
    padding: 20px;
    border-radius: 10px;
}

.guide-section {
    /* make into a flexbox to put Rutgers logo and card side-by-side*/
    display: flex;
    margin: 50px 0px;
    width: 67%;
    justify-content: space-around;
    background:#cc4042;
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(-90%);
    transition: transform 0.7s ease-in-out;
    position: relative;
}

.guide-section:hover {
    transform: translate(0);
}

.guide-section .logo {
    width: 200px;
    object-fit: contain;
    visibility: hidden;
}

.guide-section .card {
    /* make into a flexbox to put Urvish's image and his info side-by-side */
    display: flex;
    width: 600px;
    padding: 20px;
    background:#787B81;
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
    visibility: hidden;
}

.guide-section:hover .logo,
.guide-section:hover .card {
    animation-name: make-visible;
    animation-fill-mode: forwards;
}

@keyframes make-visible {
    50%, 100% {
        visibility: visible;
    }
}

.guide-section .guide-img {
    object-fit: cover;
}

.guide-section .title {
    font-size: 1.5em;
}

.guide-section .guide-info  {
    margin-left: 20px;
    background: rgb(229, 226, 226);
    padding: 0px 10px;
}

.guide-section .guide-name {
    font-weight: 700;
    font-size: 1.25em;
}

.guide-section .hover-instructions {
    position: absolute;
    top: 50%;
    right: -3.5%;
    margin: auto 0;
    transform: rotate(270deg);
    font-size: 2em;
    color:rgb(229, 226, 226);
    text-shadow: 0px 0px 1px #0F0404;
}

.guide-section:hover .hover-instructions {
    visibility: hidden;
}

/* Utility class */
.border-black {
    border: 1px solid black;
}

